html {
  height: 100%;
  width: 100%;
   scroll-behavior: smooth;
}
#page {
  height: 100%;
  width: 90%;
  background-color: #f5f5f5;
  margin:auto;
}
/*screen size changes*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
  #page {
    width: 100%;
    
}
  #mathews {
    width: 50%;
  }
  #nav a {
   width: 100%;
  }
  #lin {
    width: 30%;
  }
}

/*screen size changes*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1080px) {
  #page {
    width: 55%;
  }
  #mathews {
    width:25%;
  }
  #hotfix {
    width: 80%;
    margin: auto;
  }
  #lin {
    width: 30%;
  }
}

/*screen size changes*/

@media only screen 
and (min-width : 1224px) {
  /* Styles */
  #page {
    width: 60%;
 }
  #mathews {
    width:20%;
  }
  #hotfix {
    width: 80%;
    margin: auto;
  }
  #lin {
    width: 10%;
  }
}